@import 'header.css';
@import 'banner.css';
@import 'favourite.css';
@import 'quality.css';
@import 'service.css';
@import 'workers.css';
@import 'reviews.css';


* {
	font-family: 'Manrope', sans-serif;
	font-weight: 500;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
}

ul { 
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 0;
	margin: 0;
}

button:focus, a:focus, input:focus {
	outline: none;
}

.wrapper {
	max-width: 1200px;
	padding: 0 30px;
	margin: 0 auto;
}

@media(min-width: 1500px) {
	.wrapper {
		max-width: 1450px;
	}
}

@media(max-width: 1200px) {
	.wrapper {
		max-width: 992px;
	}
}

@media(max-width: 992px) {
	.wrapper {
		width: 100%;
	}
}

@media(max-width: 576px) {
	.wrapper {
		width: 100%;
		padding: 0 20px;
	}
}

