#reviews {
	padding: 30px 0;
}

.reviews-title h4 {
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #18191F;
}
.reviews-parent {}
.swiper-container {
	padding: 50px 10px;
}
.swiper-wrapper {}
.swiper-slide {
	transition: all 0.3s ease-in-out;
}
.reviews-info {
	position: relative;
	box-shadow: 0 20px 40px -15px rgba(196, 196, 196, 0.5) ;
	border-radius: 10px;
	margin-bottom: 40px;
	padding: 30px;
}
.reviews-info:after {
	content: '';
	position: absolute;
	bottom: -20px;
	right: calc(50% - 30px / 2);
	width: 0;
	height: 0;
	border-right: 15px solid transparent; 
	border-left: 15px solid transparent;
	border-top: 20px solid #fff;
}
.reviews-info h4 {
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #18191F;
	margin-bottom: 10px;
}
.reviews-info p {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #18191F;
}
.reviews-author {
	text-align: center;
}
.reviews-author h5 {
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #18191F;
}
.reviews-author p {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-feature-settings: 'liga' off;
	color: #474A57;
}

.swiper-pagination {
	display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
	opacity: 1;
	background: #2296F9;
}

.swiper-pagination-bullet-active {
	width: 12px;
	height: 12px;
	border: 3px solid #2296F9;
	background: #fff;
}


@media (min-width: 992px) {
	.swiper-slide-active {
		transition: all 0.3s ease-in-out;
		transform: translateY(-30px);
	}
}

@media(max-width: 768px) {

	.reviews-title {
		margin-bottom: 0;
	}

}

@media (max-width: 576px) {
	.reviews-info {
		padding: 20px;
	}
	.reviews-title h4 {
	    font-size: 16px;
	    line-height: 24px;
	}
}